# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# venv (you have .venv folder)
.venv/

# local stores / indexes (Task 1)
.store/
*.sqlite
*.db

# outputs (Task 3)
*.jsonl

# Qdrant local (if used anywhere later)
qdrant_local/
